# Exploring NYC Public School Test Result Scores

Use data manipulation and summary statistics to analyze test scores across New York City's public schools!

## Project Description

Every year, school test results impact the college admissions fate of millions of students.

In this project, you will use standardized test performance data from NYC's public schools to identify the schools with top math results, look at how performance varies by borough, and find the city's top ten performing schools!

![New York City schoolbus](schoolbus.jpg)

Photo by [Jannis Lucas](https://unsplash.com/@jannis_lucas) on [Unsplash](https://unsplash.com).
<br>

Every year, American high school students take SATs, which are standardized tests intended to measure literacy, numeracy, and writing skills. There are three sections - reading, math, and writing, each with a **maximum score of 800 points**. These tests are extremely important for students and colleges, as they play a pivotal role in the admissions process.

Analyzing the performance of schools is important for a variety of stakeholders, including policy and education professionals, researchers, government, and even parents considering which school their children should attend. 

You have been provided with a dataset called `schools.csv`, which is previewed below.

You have been tasked with answering three key questions about New York City (NYC) public school SAT performance.

## Objective

Which NYC schools have the best math results?

- The best math results are at least 80% of the **maximum possible score of 800** for math.

- Save your results in a pandas DataFrame called `best_math_schools`, including `"school_name"` and `"average_math"` columns, sorted by "average_math" in descending order.

What are the top 10 performing schools based on the combined SAT scores?

- Save your results as a pandas DataFrame called `top_10_schools` containing the `"school_name"` and a new column named `"total_SAT"`, with results ordered by "total_SAT" in descending order.

Which single borough has the largest standard deviation in the combined SAT score?

- Save your results as a pandas DataFrame called `largest_std_dev`.

- The DataFrame should contain one row, with:
    - `"borough"` - the name of the NYC borough with the largest standard deviation of `"total_SAT"`.
    - `"num_schools"` - the number of schools in the borough.
    - `"average_SAT"` - the mean of `"total_SAT"`.
    - `"std_SAT"` - the standard deviation of `"total_SAT"`.

- Round all numeric values to two decimal places.

In [42]:
# Importing library
import pandas as pd

In [43]:
# Read in the data
schools = pd.read_csv("schools.csv")

In [44]:
# Preview the data
schools.head()

,school_name,borough,building_code,average_math,average_reading,average_writing,percent_tested
0,"New Explorations into Science, Technology and ...",Manhattan,M022,657,601,601,NaN
1,Essex Street Academy,Manhattan,M445,395,411,387,78.9
2,Lower Manhattan Arts Academy,Manhattan,M445,418,428,415,65.1
3,High School for Dual Language and Asian Studies,Manhattan,M445,613,453,463,95.9
4,Henry Street School for International Studies,Manhattan,M056,410,406,381,59.7

In [45]:
# Finding schools with the best math scores
best_math_schools = schools[schools['average_math'] > 640][['school_name', 'average_math']].sort_values(by='average_math', ascending = False)
print(best_math_schools)

                                           school_name  average_math
88                              Stuyvesant High School           754
170                       Bronx High School of Science           714
93                 Staten Island Technical High School           711
365  Queens High School for the Sciences at York Co...           701
68   High School for Mathematics, Science, and Engi...           683
280                     Brooklyn Technical High School           682
333                        Townsend Harris High School           680
174  High School of American Studies at Lehman College           669
0    New Explorations into Science, Technology and ...           657
45                       Eleanor Roosevelt High School           641

In [46]:
# Correcting the calculation of the "total_SAT" column
schools['total_SAT'] = schools['average_math'] + schools['average_reading'] + schools['average_writing']

In [47]:
# Identifying the top 10 performing schools based on the corrected "total_SAT"
top_10_schools = schools.sort_values(by='total_SAT', ascending=False).head(10)[["school_name", "total_SAT"]]
print(top_10_schools)

                                           school_name  total_SAT
88                              Stuyvesant High School       2144
170                       Bronx High School of Science       2041
93                 Staten Island Technical High School       2041
174  High School of American Studies at Lehman College       2013
333                        Townsend Harris High School       1981
365  Queens High School for the Sciences at York Co...       1947
5                       Bard High School Early College       1914
280                     Brooklyn Technical High School       1896
45                       Eleanor Roosevelt High School       1889
68   High School for Mathematics, Science, and Engi...       1889

In [48]:
num_schools_per_borough = schools.groupby('borough').size().reset_index(name='num_schools')
std_dev_sat_per_borough = schools.groupby('borough')[['total_SAT']].std().reset_index()
merged_data = pd.merge(num_schools_per_borough, std_dev_sat_per_borough, on='borough')

In [49]:
# Calculating the average SAT score per borough
average_sat_per_borough = schools.groupby('borough')[['total_SAT']].mean().reset_index()
merged_data = pd.merge(merged_data, average_sat_per_borough, on='borough', suffixes=('_std_dev', '_average'))

In [50]:
# Identifying the borough with the largest standard deviation in SAT performance
largest_std_dev = merged_data.sort_values('total_SAT_std_dev', ascending=False).head(1)
largest_std_dev = largest_std_dev.set_index('borough').rename(columns={'num_schools': 'num_schools', 'total_SAT_std_dev': 'std_SAT', 'total_SAT_average': 'average_SAT'})

In [51]:
# Rounding numeric values to two decimal places
largest_std_dev = largest_std_dev.round(2)
largest_std_dev

           num_schools  std_SAT  average_SAT
borough
Manhattan           89   230.29      1340.13